@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none;
}
input:focus,input:focus-visible,input:focus-visible,input:hover{
    --tw-ring-shadow: 0 0 #000 !important;
}
