@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none;
}
input:focus,input:focus-visible,input:focus-visible,input:hover{
    --tw-ring-shadow: 0 0 #000 !important;
}
@layer components{
    ::selection{
        @apply bg-blue-600/80 text-white/65;
    }
    .style-table{
        @apply w-full;
    }
    .style-table :is(tr,td,th) {
        @apply border p-4;
    }
    .leading-description{
        @apply leading-8;
    }
    .input-search {
        @apply w-2/3 md:w-full max-w-2xl outline-0 border-2 border-blue-500/75 hover:border-blue-500 rounded-md transition;
    }
    .heading-footer {
        @apply text-xl font-extrabold mb-2 border-b pb-2;
    }
    .navigation-footer {
        @apply flex flex-col gap-y-2;
    }
    .navigation-footer a {
        @apply text-lg font-medium;
    }
    .link-effect {
        @apply w-fit relative transition-all ease-linear;
    }
    .link-effect::after{
        content: "";
        @apply w-0 h-0.5 absolute bg-blue-600 left-1/2 -translate-x-1/2 bottom-0 transition-all ease-linear hover:w-full;
    }
    li.fa-star {
        @apply text-gray-700;
    }
    .click.fa-star:hover ~ .click.fa-star,.click.fa-star:hover
    {
        @apply text-yellow-500;
    }
    .button{
        @apply px-2 inline-block h-7 cursor-pointer shadow text-white;
    }
}

@keyframes top-to-down {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}
